#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-size: calc(1.5rem + 1vw);
}

.nav {
  position: absolute;
  top:0px;
  border: 1.5px solid greenyellow;
  display: flex; 
  gap: 10vw;
  margin: 0 auto;
  
}
.nav a {
  text-decoration: none;
  color: black;
  font-size: calc(1.5rem + 1vw);
  font-style: italic;
  justify-content: center;
  
}
.nav a:hover {
  color:lightgreen;
}

.home {
  font-size: calc(1.5rem + 1vw);  
  
}

